:root {
    /* colors */
    /* --accent: #FFC759; */
    --accent: #F26419;
    --primary: #30384B;
    --light-primary: #BABFD1;

    /* font sizes */
    --small: 0.75rem;
    --medium: 1rem;
    --large: 3rem;

    /* font weights */
    --bold-font: 700;
    --medium-font: 500;
    --normal-font: 400;

    --font-family: 'Roboto', sans-serif;

    --box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

    
}

* {
    line-height: 1.15;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
}

body {
    font-family: var(--font-family);
}


aside {
    background: var(--primary);
    padding: 2rem;
    color: var(--light-primary);
    width: 20%;
}


svg {
    width: 2rem;
}

aside svg {
    fill: var(--light-primary);
}

main {
    background: var(--light-primary);
    width: 80%;
    color: var(--primary);
}


.container {
    display: flex;
}

.dashboard-svg {
    width: 3rem;
}

.dashboard-svg> :last-child {
    fill: var(--light-primary);
}

.dashboard-svg> :first-child {
    fill: var(--accent);
}

.dashboard-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 2rem;
}

.first-nav>div,
.second-nav>div {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    margin-bottom: var(--medium);
    flex: 1 0 auto;
}

h2:last-child {
    font-weight: var(--bold-font);
}

main>section {
    background: whitesmoke;
    padding: 2rem;
    box-shadow:var(--box-shadow);
}

.profile {
    padding: 1.5rem;
    background-color: var(--primary);
    border-radius: 2rem;
    margin-right: 0.75rem;
}

main>section>div {
    display: flex;
}

main>section>div:last-child {
    margin-top: 2rem;
    justify-content: center;
    gap: var(--medium);
}

input[type="search"] {
    border-radius: var(--medium);
    padding: 0.5rem;
    width: 50%;
    font-size: var(--medium-font);
    font-family: var(--font-family);
    box-shadow:var(--box-shadow);
}

main svg {
    stroke: var(--primary);
}

svg g {
    fill: var(--primary)
}

main svg:first-of-type {
    fill: none;
}

main>div:last-child {
    display: flex;
    padding: 3rem 2rem;
    gap: 2rem;
}

main>div:last-child svg {
    fill: var(--primary);
    width: var(--medium);
    stroke-width: 0.5px;
}

.projects article > div > div:first-child>svg {
    stroke: white;
}

.projects>div {
    margin-top: 1.5rem;
    display: grid;
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    gap: 2rem;
}

article {
    background: whitesmoke;
    padding: var(--medium);
    border-radius: var(--small);
}

.projects>h1::after {
    content: "";
    border-bottom: 2px solid var(--accent);
    display: block;
    width: 2.75rem;
}

.projects article {
    border-left: 3px solid var(--accent);
    box-shadow:var(--box-shadow);
    padding: 1.5rem;
}

.projects article > div {
    display: flex;
    gap: var(--small);
    margin-top: var(--medium);
    justify-content: end;
}

.announcements {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.announcements article {
    box-shadow: var(--box-shadow);
    line-height: normal;
}

.announcements article:first-of-type > div:not(:last-child) {
    border-bottom: 2px solid var(--light-primary);
    padding-bottom: 0.625rem;
}

.announcements article>div:nth-child(even) {
    margin: var(--small) auto;
}

.announcements article small:first-of-type {
    font-weight: var(--bold-font);
    display: block;
}